$background-color-lv0: #ffffff;
$background-color-lv1: #fafafa;
$background-color-lv2: #f5f5f5;
$background-color-lv3: #eeeeee;
$background-color-lv4: #e0e0e0;
$background-color-marked: #fff176;
$background-color-highlight: #2196f3;
